<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/">Our Work</a></li>
            <li role="presentation"><a href="/">Contact Us</a></li>
            <li role="presentation"><a href="/posts">Blog</a></li>
        </ul>
        <h3 class="text-muted">Node.js Blog</h3>
    </nav>
</div>
